$widget_color: #0095DD;
.play_button{
	vertical-align: middle;
}

.play_button #progress_bar{
  transition: stroke-dashoffset 10s linear;
  stroke: $widget_color;
}
.play_button #progress_bar_inner {
  stroke: $widget_color;
}
.play_button  #stopped{
  display: none;
}
#track1_container svg, #track1_container span{
	display:inline-block;
}
#track1_container{
	vertical-align: middle;
}
#track1_container span{
      line-height: 30px;
      color: #0095DD;
      margin-left: 5px;
      float:left;
}
#track1_container span svg{
      float:left;
}