.dancingbars { -webkit-transform: scale(1); transform: scale(1); }
.dancingbars .bar { color: #0095dd; }

@-webkit-keyframes bounce {}

@keyframes bounce {}

* { box-sizing: border-box; }

html, body { height: 100%; min-height: 100%; }

audio { display: none; }

#container { *zoom: 1; max-width: 68em; margin-left: auto; margin-right: auto; margin-left: 17.05961%; float: left; display: block; margin-right: 2.35765%; width: 40.29137%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0px -1px 5px 0px #ccc; }
#container:before, #container:after { content: " "; display: table; }
#container:after { clear: both; }
#container:last-child { margin-right: 0; }
#container #left-column { margin-left: 17.05961%; float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }
#container #left-column:last-child { margin-right: 0; }
#container #right-column { float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }
#container #right-column:last-child { margin-right: 0; }

.title { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; text-transform: uppercase; font-size: 92px; color: #f1ebe5; text-shadow: 2px 2px 0px #c4b59d, 0 0px 1px #fff; font-weight: bold; text-align: center; background: linear, to bottom, #ece4d9 0%, #e9dfd1 100%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 20px; }

svg { display: inherit; }


/*
Syntax error: Invalid CSS after ".play_button{": expected "}", was "<<<<<<< HEAD"
        on line 3 of ./playwidget.scss

1: $widget_color: #0095DD;
2: .play_button{
3: <<<<<<< HEAD
4: 	vertical-align: middle;
5: =======
6: <<<<<<< HEAD
7: 	vertical-align: middle;
8: =======

Backtrace:
./playwidget.scss:3
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:536:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:443:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \".play_button{\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 3 of ./playwidget.scss\A \A 1: $widget_color: #0095DD;\A 2: .play_button{\A 3: <<<<<<< HEAD\A 4: 	vertical-align: middle;\A 5: =======\A 6: <<<<<<< HEAD\A 7: 	vertical-align: middle;\A 8: ======="; }

* { box-sizing: border-box; }

html, body { height: 100%; min-height: 100%; }

audio { display: none; }

#container { *zoom: 1; max-width: 68em; margin-left: auto; margin-right: auto; margin-left: 17.05961%; float: left; display: block; margin-right: 2.35765%; width: 40.29137%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0px -1px 5px 0px #ccc; }
#container:before, #container:after { content: " "; display: table; }
#container:after { clear: both; }
#container:last-child { margin-right: 0; }
#container #left-column { margin-left: 17.05961%; float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }
#container #left-column:last-child { margin-right: 0; }
#container #right-column { float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }
#container #right-column:last-child { margin-right: 0; }

.title { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; text-transform: uppercase; font-size: 92px; color: #f1ebe5; text-shadow: 2px 2px 0px #c4b59d, 0 0px 1px #fff; font-weight: bold; text-align: center; background: linear, to bottom, #ece4d9 0%, #e9dfd1 100%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 20px; }

svg { display: inherit; }

.gtrend, .gpoint { stroke: #0095dd; stroke-width: 2; fill: #7FC9ED; fill-opacity: 1; }

.gpoint { fill: white; fill-opacity: 1; }
